<div class="container">
        <div class="image">
            <img src="../../assets/images/R.png" alt="">
        </div>
        <h1 class="txt">My Bank</h1>
        <!-- property binding[form group] -->
        <form [formGroup]="registerForm" class="p-3 mt-3">
            <div class="txt_field">
        <input formControlName="uname" type="text" id="reg_uname" class="form-control mb-1" placeholder="Username"></div>
        <div *ngIf="this.registerForm.get('uname')?.touched&&this.registerForm.get('uname')?.errors" style="color: red;">Invalid Username</div>
        <div class="txt_field">
        <input formControlName="acno" type="text" id="reg_acno" class="form-control mb-1" placeholder="Account number"></div>
        <div *ngIf="this.registerForm.get('acno')?.touched&&this.registerForm.get('acno')?.errors" style="color: red;">Invalid accountno</div>
        <div class="txt_field">
        <input formControlName="pswd" type="password" id="reg_pswd" class="form-control" placeholder="Password">
        </div>
        <div *ngIf="this.registerForm.get('pswd')?.touched&&this.registerForm.get('pswd')?.errors" style="color: red;">Invalid password</div>
        <div class="d-grid gap-2">
        <button type="submit" class="btn1" (click)="Register()">Submit</button>
        </div>
        </form>
        <div class="pass">
        <a routerLink="">Sign In</a>
        </div>
</div>
