<div class="row">
    <div class="col-4"></div>
    <div class="col-4 bg-light border rounded-3 m-4 p-5">
        <div class="d-flex justify-content-center">
            <img src="../../assets/images/bank-03.jpg" alt="" height="100px" width="100px">
        </div>
        <h1 class="mb-4 text-center">My Bank</h1>
        <!-- property binding[form group] -->
        <form [formGroup]="registerForm" class="p-3 mt-3">
        <input formControlName="uname" type="text" id="reg_uname" class="form-control mb-1" placeholder="Username">
        <input formControlName="acno" type="text" id="reg_acno" class="form-control mb-1" placeholder="Account number">
        <input formControlName="pswd" type="password" id="reg_pswd" class="form-control" placeholder="Password">
        <button type="submit" class="form-control btn btn-info mt-4" (click)="Register()">Submit</button>
        </form>
        <a routerLink="">Sign In</a>
    </div>
    <div class="col-4"></div>
</div>
