<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">My Bank</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
    
    
        <div class="image">
            <img src="../../assets/images/R.png" alt="">
        </div>
        <h1 class="txt">My Bank</h1>
        <h6 class="text-center">{{aim}}</h6>
        <form [formGroup]="loginForm" class="p-3 mt-3">
          <div class="txt_field">
        <input formControlName="acno" type="text" id="login_acno" class="form-control " [placeholder]="accounts"></div>
        <div *ngIf="this.loginForm.get('acno')?.touched&&this.loginForm.get('acno')?.errors" style="color: red;">Invalid acno</div>
        <div class="txt_field">
        <input formControlName="pswd" type="password" id="login_pswd" class="form-control" placeholder="Password"></div>
        <div *ngIf="this.loginForm.get('pswd')?.touched&&this.loginForm.get('pswd')?.errors" style="color: red;">Invalid password</div>
       <div class="d-grid gap-2">
        <button type="button" class="btn1" (click)="Login()">Login</button></div>
        </form>
        <div class="pass">
        <a href="#">Forgot password?</a> Or <a routerLink="register">Sign Up</a>
        </div>
    
</div>
